<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width", initial-scale="1.0" />
        <title>Aestethic Emails</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}"/>
    </head>
    <body>
        <nav>
            <h1>Aestethic Emails</h1>
        </nav>
        {% if not username and not password %}
        <div class="login">
            <form method="POST" name="login">
                <label for="username">Username</label>
                <input type="text" name="username" placeholder="Enter your username">
            </form>
        </div>
        {% endif %}
    </body>
</html>
